1005project/NewFlightsWpf/Service References/SR_ServiceLogic/ServiceLogic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceLogic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ServiceLogic/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ServiceLogic/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ServiceLogic/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLogic_QueryFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryFlights" />
  </wsdl:message>
  <wsdl:message name="IServiceLogic_QueryFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLogic_AddFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFlight" />
  </wsdl:message>
  <wsdl:message name="IServiceLogic_AddFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLogic">
    <wsdl:operation name="QueryFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLogic/QueryFlights" message="tns:IServiceLogic_QueryFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLogic/QueryFlightsResponse" message="tns:IServiceLogic_QueryFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLogic/AddFlight" message="tns:IServiceLogic_AddFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLogic/AddFlightResponse" message="tns:IServiceLogic_AddFlight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="http" type="tns:IServiceLogic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryFlights">
      <soap:operation soapAction="http://tempuri.org/IServiceLogic/QueryFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlight">
      <soap:operation soapAction="http://tempuri.org/IServiceLogic/AddFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tcp" type="tns:IServiceLogic">
    <wsp:PolicyReference URI="#tcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="QueryFlights">
      <soap12:operation soapAction="http://tempuri.org/IServiceLogic/QueryFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlight">
      <soap12:operation soapAction="http://tempuri.org/IServiceLogic/AddFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLogic">
    <wsdl:port name="http" binding="tns:http">
      <soap:address location="http://localhost:8733/ServiceLogic/" />
    </wsdl:port>
    <wsdl:port name="tcp" binding="tns:tcp">
      <soap12:address location="net.tcp://localhost:8091/ServiceLogic/ServiceLogic" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/ServiceLogic/ServiceLogic</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MIKABO\mkb</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>