SystemAgents/AppCollectorAgent/Service References/SR_RunningAppsQueryService/RunningAppsQueryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryApps">
        <s:complexType />
      </s:element>
      <s:element name="QueryAppsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryAppsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryAppsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryApps" />
  </wsdl:message>
  <wsdl:message name="QueryAppsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryAppsResponse" />
  </wsdl:message>
  <wsdl:portType name="RunningAppsQueryServiceSoap">
    <wsdl:operation name="QueryApps">
      <wsdl:input message="tns:QueryAppsSoapIn" />
      <wsdl:output message="tns:QueryAppsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RunningAppsQueryServiceSoap" type="tns:RunningAppsQueryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryApps">
      <soap:operation soapAction="http://tempuri.org/QueryApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RunningAppsQueryServiceSoap12" type="tns:RunningAppsQueryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryApps">
      <soap12:operation soapAction="http://tempuri.org/QueryApps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RunningAppsQueryService">
    <wsdl:port name="RunningAppsQueryServiceSoap" binding="tns:RunningAppsQueryServiceSoap">
      <soap:address location="http://localhost:12056/RunningAppsQueryService.asmx" />
    </wsdl:port>
    <wsdl:port name="RunningAppsQueryServiceSoap12" binding="tns:RunningAppsQueryServiceSoap12">
      <soap12:address location="http://localhost:12056/RunningAppsQueryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>