TrainingsManagement/WorkoutConsumer/Service References/SR_WorkoutService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorkout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Workout" nillable="true" type="tns:Workout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkout" nillable="true" type="tns:ArrayOfWorkout" />
  <xs:complexType name="Workout">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Exercises" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intensity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Workout" nillable="true" type="tns:Workout" />
</xs:schema>