TrainingsManagement/1005project/QueryConsumer/Service References/SR_ServiceLogic/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ServiceLogic/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared" />
  <xs:element name="QueryFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="QueryFlightsResult" nillable="true" type="q1:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>